<?xml version="1.0" ?>
<model>
    <name>ParedOrientada</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Luis Fernando Zarazua Aguilar</name>
        <email>spartanzarazua117@hotmail.com</email>
    </author>
    <description>Pared con orientacion</description>
</model>
